<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg max-w-sm w-10/12 p-3 relative">
    <form (ngSubmit)="OnSave()">
      <!-- Título del Modal -->
      <h2 class="text-lg font-semibold text-gray-800 mb-2 text-center">Editar Registro</h2>

      <!-- Campos del Formulario -->
      <ng-container *ngFor="let key of getObjectKeys(editedData)">
        <div *ngIf="key !== 'Id_producto' && key !== 'fecha_creacion' && key!=='Imagen_url'" class="mb-2">
          <label class="block text-sm font-medium text-gray-700 mb-1">{{ key }}</label>
          <input
            [(ngModel)]="editedData[key]"
            name="{{ key }}"
            type="text"
            required
            class="block w-full px-2 py-1 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-400"
          />
        </div>
      </ng-container>

      <!-- Botones -->
      <div class="flex justify-end mt-3 space-x-2">
        <button
          type="button"
          (click)="OnCancel()"
          class="px-3 py-1 text-sm bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-3 py-1 text-sm bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
