
<app-button label="Abrir Formulario" buttonClass="primary" (buttonClick)="openForm()">
</app-button>



<app-table
  [data]="productos"
  [columns]="columns"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
></app-table>


<app-delete-component-component
  *ngIf="actionType === 'delete' && selectedProduct"
  [registroTable]="selectedProduct"
  (confirmDelete)="onConfirmDelete()"
  (cancelDelete)="onCancelDelete()"
></app-delete-component-component>


<app-edit-component-component
  *ngIf="actionType === 'edit' && selectedProduct"
  [registroTable]="selectedProduct"
  (GuardarCambios)="onEditProduct($event)"
></app-edit-component-component>

<div *ngIf="showForm" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Formulario de Producto</h2>
    <!-- Formulario de Productos -->
    <app-formulario-productos></app-formulario-productos>
    <button (click)="closeForm()" class="mt-4 bg-red-500 text-white px-4 py-2 rounded">
      Cerrar
    </button>
  </div>
</div>

