<app-button label="Abrir Formulario"
class="p-4" buttonClass="primary"
(buttonClick)="openForm()">
</app-button>


<div *ngIf="showForm" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Formulario de Oferta</h2>
    <!-- Formulario de Productos -->
    <app-formulario-ofertas></app-formulario-ofertas>
    <button (click)="closeForm()" class="mt-4 bg-red-500 text-white px-4 py-2 rounded">
      Cerrar
    </button>
  </div>
</div>


<app-table
  [data]="oferta"
  [columns]="columns"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
></app-table>


<app-delete-component-component
  *ngIf="actionType === 'delete' && selectedOfert"
  [registroTable]="selectedOfert"
  (confirmDelete)="onConfirmDelete()"
  (cancelDelete)="onCancelDelete()"
></app-delete-component-component>


<app-edit-component-component
  *ngIf="actionType === 'edit' && selectedOfert"
  [registroTable]="selectedOfert"
  (GuardarCambios)="onEditOferta($event)"
></app-edit-component-component>




